body{
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
a {
    text-decoration: none;
}

.main-container{

    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 20px;
    
}

/* .metodo-container{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);    
}
 */
.numAle-container .title-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
}

.title-card .entry-date{
    margin-bottom: 10px;
    width: 150px;
    min-width: 120px;

}
/* Diseño de los numeros aleatorios */
table,td{
    border: 1px solid black;
}
td{
    padding: 4px; text-align: center;
}

.body-metodo {
    justify-self: center;
    display: flex;
    overflow-x: scroll;
    max-width: 300px;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 10px;
}

.body-metodo::-webkit-scrollbar{
    /* width: 0; */
}

.card-numAle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-numAle .border-card{
    scroll-snap-align: center;
    position: relative;
}

.card-numAle .border-card:first-child{
    margin-left: 100px;
}

#solucion,#calcular,#resultado {
    margin-right: 100px;
}
/* Tabla de los  resultados */
#contenedorTabla-Resul, #contenedorTabla-Resul-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 225px;
    max-height: 460px;    
    padding: 10px;
}

#contenedorTabla-Resul,#contenedorTabla-Resul-con th{
    text-align: center;
}

#contenedorTabla-Resul,#contenedorTabla-Resul-con .table{
    min-width: 200px;
    text-align: center;
}

#tableEnd th{
    border: 1px solid black;
}
#card-table-resul th{
    border: 1px solid black;
}

/* Tabla de los numero aleatorios */
#contenedorTabla{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 225px;
    max-height: 460px;
    padding: 10px;
}

#contenedorTabla th{
    text-align: center;
}

#contenedorTabla .table{
    min-width: 200px;
    text-align: center;
}

.table{
    overflow-y: scroll;
    margin: 0;
}

.table::-webkit-scrollbar{
    width: 0;
}

#card-table th{
    border: 1px solid black;
}

/* Diseño de las tablas de entrada y salida de datos */
.resul-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.resul-container .card-table-entry{
    height: 300px;
    max-height: 45%;
    background: aquamarine;
    margin-bottom: 10px;
}
/* Diseño de la tabla de ingreso de datos */
.card-table-entry{
    display: grid;
    grid-template-columns: 1fr 4fr;
}


.card-table-entry .date-entry, .table-entry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.table-entry #contenedorTabla-Entry{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.date-entry .entry-date{
    margin-bottom: 10px;
    width: 70%;
    min-width: 87px;
    margin: 5px;

}
/* Diseño de tabla de entrada de datos (unidades, frecuencia) */
#card-table-entry, th, td{
    border: 1px solid black;
}

#card-table-entry td .card-date-entry{
    border: none;
}

#card-table-entry thead th, #inputTextResul{
    text-align: center;
    vertical-align: middle;
}

#inputTextResul p{
    margin: 0;
}

#card-table-entry thead th .enca{
    margin: 10px;
}

.date-entry #botonGenerarTableEntry{
    margin: 10px;
}
/* Diseño de la tabla de la parte de rangos */
.resul-container .card-table-exit{
    height: 300px;
    max-height: 45%;
    background: aquamarine;
    display: flex;
    

}
.card-table-exit{
    
}
.card-table-exit .date-exit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

#card-table-exit-resul thead th .enca{
    margin: 10px;
}




